*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background: rgba(26, 11, 46, 1);
    font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(255, 255, 255, 1);
    font-family: inter, sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
}
h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}
p {
    color: rgba(255, 255, 255, 0.8);
    font-family: inter, sans-serif;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}
a{
    color: rgba(255, 255, 255, 1); 
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
}
.color-green{
    color: rgba(0, 255, 136, 1);
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}
.btn img {
    margin-bottom: -5px;
    width: 20px;
}
.icon {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.btn-primary {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-color: transparent;
    color: white;
    fill: White;
}
.btn-primary:hover {
    background: transparent;
    box-shadow: 0 0px 0px 2px rgba(145, 0, 248, 0.8);
}
.btn-secondary {
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid;
    border-color: rgba(0, 255, 136, 1);
}

.btn-secondary:hover {
    background-color: rgba(0, 255, 136, 1);
    color: rgba(26, 11, 46, 1);
}
.container{
    max-width: 1338px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

/*================
    Header Styles 
 =================*/
header {
    padding: 16px 0;
}
header .inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
header .logo-wrapper img {
    width: 120px;
}
header .navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}
header .navigation-wrapper ul li a:hover {
    border-bottom: 1px solid white;
}


/*==================
 Hero Section Styles
 =================== */
.hero-section {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
}

.hero-section .button-wrapper {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: auto;
    text-align: center;
}
