*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background: rgba(26, 11, 46, 1);
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.7)
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(255, 255, 255, 1);
    font-family: inter, sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 54px;
}
h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
p {
    color: rgba(255, 255, 255, 0.7);
    font-family: inter, sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
a{
    color: rgba(255, 255, 255, 1); 
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}
.btn img {
    margin-bottom: -5px;
    width: 20px;
}
.icon,
svg {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.btn-primary {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-color: transparent;
    color: white;
    fill: White;
}
.btn-primary:hover {
    background: transparent;
    box-shadow: 0 0px 0px 2px rgba(145, 0, 248, 0.8);
}
.btn-secondary {
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid;
    border-color: rgba(0, 255, 136, 1);
}

.btn-secondary:hover {
    background-color: rgba(0, 255, 136, 1);
    color: rgba(26, 11, 46, 1);
}
.container{
    max-width: 1338px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}
.empty-space {
    padding: 65px 0;
}
/*================
    Header Styles 
 =================*/
header {
    padding: 16px 0;
}
header .inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
header .logo-wrapper img {
    width: 120px;
}
header .navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}
header .navigation-wrapper ul li a:hover {
    border-bottom: 1px solid white;
}


/*==================
 Hero Section Styles
 =================== */
.hero-section {
    background-image: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 75vh;
    display: flex;
    align-items: center;
    padding: 50px 0;
}
.hero-inner {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.hero-circle {
    margin: auto;
    position: relative;
    padding-bottom: 40px;
}
.circle-gradient {
    position: relative;
    width: 334px;
    height: 334px;
    border-radius: 50%;
    border: 8px solid rgba(42, 24, 108, 1);
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.circle-gradient img {
    position: relative;
    z-index: 9999;
}
.circle-gradient::before,
.circle-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
    transition: all 0.3s ease;
}
.circle-gradient::before {
  background: linear-gradient(
    0deg,
    rgba(247, 233, 63, 1) 10%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 90%
  );

  animation: gradientMoveA 18s ease-in-out infinite;
}
.circle-gradient::after {
  background: linear-gradient(
    120deg,
    rgba(251, 9, 180, 1) 10%,
    rgba(145, 0, 248, 1) 50%,
    rgba(247, 233, 63, 1) 90%
  );

  animation: gradientMoveB 18s ease-in-out infinite;
  opacity: 0;
}
@keyframes gradientMoveA {
  0% {
    background: linear-gradient(
      0deg,
      rgba(247, 233, 63, 1) 10%,
      rgba(251, 9, 180, 1) 50%,
      rgba(145, 0, 248, 1) 90%
    );
  }
  25% {
    background: linear-gradient(
      90deg,
      rgba(247, 233, 63, 1) 15%,
      rgba(251, 9, 180, 1) 55%,
      rgba(145, 0, 248, 1) 95%
    );
  }

  50% {
    background: linear-gradient(
      180deg,
      rgba(247, 233, 63, 1) 30%,
      rgba(251, 9, 180, 1) 60%,
      rgba(145, 0, 248, 1) 100%
    );
  }
  75% {
    background: linear-gradient(
      270deg,
      rgba(247, 233, 63, 1) 15%,
      rgba(251, 9, 180, 1) 55%,
      rgba(145, 0, 248, 1) 95%
    );
  }

  100% {
    background: linear-gradient(
      360deg,
      rgba(247, 233, 63, 1) 10%,
      rgba(251, 9, 180, 1) 50%,
      rgba(145, 0, 248, 1) 90%
    );
  }
    75% {
    background: linear-gradient(
      270deg,
      rgba(247, 233, 63, 1) 15%,
      rgba(251, 9, 180, 1) 55%,
      rgba(145, 0, 248, 1) 95%
    );
  }
    50% {
    background: linear-gradient(
      180deg,
      rgba(247, 233, 63, 1) 30%,
      rgba(251, 9, 180, 1) 60%,
      rgba(145, 0, 248, 1) 100%
    );
  }
    25% {
    background: linear-gradient(
      90deg,
      rgba(247, 233, 63, 1) 15%,
      rgba(251, 9, 180, 1) 55%,
      rgba(145, 0, 248, 1) 95%
    );
  }
    0% {
        background: linear-gradient(
        0deg,
        rgba(247, 233, 63, 1) 10%,
        rgba(251, 9, 180, 1) 50%,
        rgba(145, 0, 248, 1) 90%
        );
    }
}

@keyframes gradientMoveB {
  0% {
    opacity: 0;
    background: linear-gradient(
      120deg,
      rgba(251, 9, 180, 1) 10%,
      rgba(145, 0, 248, 1) 50%,
      rgba(247, 233, 63, 1) 90%
    );
  }
  25% {
    opacity: 0.5;
    background: linear-gradient(
      120deg,
      rgba(251, 9, 180, 1) 15%,
      rgba(145, 0, 248, 1) 55%,
      rgba(247, 233, 63, 1) 95%
    );
  }

  50% {
    opacity: 1;
    background: linear-gradient(
      300deg,
      rgba(251, 9, 180, 1) 30%,
      rgba(145, 0, 248, 1) 60%,
      rgba(247, 233, 63, 1) 100%
    );
  }
  50% {
    opacity: 0.5;
    background: linear-gradient(
      300deg,
      rgba(251, 9, 180, 1) 15%,
      rgba(145, 0, 248, 1) 55%,
      rgba(247, 233, 63, 1) 95%
    );
  }
  100% {
    opacity: 0;
    background: linear-gradient(
      480deg,
      rgba(251, 9, 180, 1) 10%,
      rgba(145, 0, 248, 1) 50%,
      rgba(247, 233, 63, 1) 90%
    );
  }
}

.hero-section .indicator-text {
    position: absolute;
    top: 30px;
    right: 30px;
    background: rgba(0, 255, 136, 1);
    padding: 4px 12px;
    border-radius: 50px;
    color: #222;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    font-size: 16px;
    font-weight: 600;
}
.hero-section .button-wrapper {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/*==================
 About Section Styles
 =================== */
 .about-podcust{
    padding: 50px 0 120px 0;
 }
 .about-content-wrapper h2 {
    margin-bottom: 12px;
}
.empty-space .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
}
.about-content-wrapper {
    text-align: center;
    max-width: 730px;
    margin: auto;
}
.our-listeners .inner-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    justify-items: center;
}
.our-listeners .listener-item{
    text-align: center;
}
.our-listeners .listener-item h2{
    color: rgba(0, 255, 136, 1)
}


 /*==================
 Why Choose Section Styles
 =================== */
.why-choose {
    padding: 120px 0;
    background: rgba(35, 14, 61, 1);
}
.why-choose .section-header h2 {
    margin-bottom: 40px;
    text-align: center;
}
.why-choose .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.col-2{
    grid-column: span 2;
}
.col-1{
    grid-column: span 1;
}
.row-1{
    grid-row: span 1;
}
.row-2{
    grid-row: span 2;
}
.why-choose .card-item {
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    justify-content: center;
    height: 100%;
}
.why-choose .card-item img {
    width: auto;
    height: 60px;
}
 /*==================
 Featured Episodes Section Styles
 =================== */

 /*==================
 Meet Host Section Styles
 =================== */

 /*==================
 Footer Section Styles
 =================== */