*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background: rgba(26, 11, 46, 1);
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 0.7)
}
h1, h2, h3, h4, h5, h6 {
    color: rgba(255, 255, 255, 1);
    font-family: inter, sans-serif;
}
h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 54px;
}
h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
p {
    color: rgba(255, 255, 255, 0.7);
    font-family: inter, sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
a{
    color: rgba(255, 255, 255, 1); 
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
}
button {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 100px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
    letter-spacing: 0.5px;
}
.btn img {
    margin-bottom: -5px;
    width: 20px;
}
.icon,
svg {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.btn-primary {
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    border-color: transparent;
    color: white;
    fill: White;
}
.btn-primary:hover {
    background: transparent;
    box-shadow: 0 0px 0px 2px rgba(145, 0, 248, 0.8);
}
.btn-secondary {
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border: 1px solid;
    border-color: rgba(0, 255, 136, 1);
}

.btn-secondary:hover {
    background-color: rgba(0, 255, 136, 1);
    color: rgba(26, 11, 46, 1);
}
.container{
    max-width: 1338px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}
.empty-space {
    padding: 65px 0;
}
/*================
    Header Styles 
 =================*/
header {
    padding: 16px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
header .inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
header .logo-wrapper img {
    width: 120px;
}
header .navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}
header .navigation-wrapper ul li a:hover {
    border-bottom: 1px solid white;
}


/*==================
 Hero Section Styles
 =================== */
.hero-section {
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 100px 0;
}
.hero-inner {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}
.hero-circle {
    margin: auto;
    position: relative;
    padding-bottom: 40px;
}
.circle-gradient {
    position: relative;
    width: 334px;
    height: 334px;
    border-radius: 50%;
    border: 8px solid rgba(42, 24, 108, 1);
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.circle-gradient::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient( 47.64deg, #f7e93f, #fb09b4, #9100f8);
    animation: changeColor 15s linear infinite;
}
@keyframes changeColor {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.circle-gradient img {
    position: relative;
    z-index: 9999;
}

.hero-section .indicator-text {
    position: absolute;
    top: 30px;
    right: 30px;
    background: rgba(0, 255, 136, 1);
    padding: 4px 12px;
    border-radius: 50px;
    color: #222;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    font-size: 16px;
    font-weight: 600;
}
.hero-section .button-wrapper {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: auto;
    text-align: center;
}

/*==================
 About Section Styles
 =================== */
 .about-podcust{
    padding: 50px 0 120px 0;
 }
 .about-content-wrapper h2 {
    margin-bottom: 12px;
}
.empty-space .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .1);
}
.about-content-wrapper {
    text-align: center;
    max-width: 730px;
    margin: auto;
}
.our-listeners .inner-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    justify-items: center;
}
.our-listeners .listener-item{
    text-align: center;
}
.our-listeners .listener-item h1{
    color: rgba(0, 255, 136, 1)
}


 /*==================
 Why Choose Section Styles
 =================== */
.why-choose {
    padding: 120px 0;
    background: rgba(35, 14, 61, 1);
}
.why-choose .section-header h2 {
    margin-bottom: 40px;
    text-align: center;
}
.why-choose .grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.col-2{
    grid-column: span 2;
}
.col-1{
    grid-column: span 1;
}
.row-1{
    grid-row: span 1;
}
.row-2{
    grid-row: span 2;
}
.why-choose .card-item {
    border-radius: 40px;
    background: rgba(53, 17, 101, 0.4);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.why-choose .card-item:hover {
    background: rgba(53, 17, 101, 0.8);
    box-shadow: 0 0px 0px 2px rgba(145, 0, 248, 0.8);
}
.why-choose .card-item img {
    width: auto;
    height: 60px;
}
 /*==================
 Featured Episodes Section Styles
 =================== */
.featured-episodes {
    padding: 120px 0;
}
.featured-episodes .section-header h2 {
    margin-bottom: 24px;
    text-align: center;
}
.featured-episodes .episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.featured-episodes .episode-card {
    background: rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}
.featured-episodes .episode-card:hover {
    background: rgba(53, 17, 101, 0.8);
    box-shadow: 0 0px 0px 2px rgba(145, 0, 248, 0.8);
}

.featured-episodes .youtube-video {
    height: 220px;
}
.episode-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.episode-content .time img {
    margin-bottom: -3px;
}

 /*==================
 Meet Host Section Styles
 =================== */
.host-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr auto);
    gap: 24px;
    background: rgba(35, 14, 61, 1);
    border-radius: 40px;
    padding: 40px;
    margin: auto;
}
.meet-host h1 {
    text-align: center;
    margin-bottom: 2px;
}
.host-content-wrapper h2 {
    margin-bottom: 14px;
}
.host-content-wrapper ul {
    list-style: none;
    padding: 0;
    padding-top: 20px;
    display: flex;
    gap: 8px;
}
.host-content-wrapper li {
    height: 40px;
    width: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
}
.host-content-wrapper li:hover {
    background: rgba(145, 0, 248, 0.2);
    border-color: transparent;
    box-shadow: 0 0px 0px 2px rgba(145, 0, 248, 0.8);
}
.host-content-wrapper img {
    width: 20px;
    height: auto;
    margin-bottom: -4px;
    padding: 2px;
}

 /*==================
 Footer Section Styles
 =================== */
.footer {
    background-image: url('../images/footer-bg.png');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    margin: auto;
    text-align: center;
}
.footer .inner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.footer .footer-logo-wrapper img {
    max-width: 410px;
}
.footer-social-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.footer-social-links ul li img{
 margin-bottom: -3px;
 padding-right: 4px;
}
@media (min-width: 992px) {
   .hide-desktop {
       display: none;
   }
}
@media (max-width: 991px) {
    .hide-mobile {
        display: none;
    }
}

 /*==================
 Mobile Responsive Styles
 =================== */
@media (max-width: 576px) {
    /* global style */
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    .empty-space {
        padding: 35px 0;
    }
    /* Hero Section */
.hero-section {
    background-image: url('../images/mobile-hero-bg.png');
    padding: 60px 0;
}
    .circle-gradient {
        width: 200px;
        height: 200px;
    }
    .circle-gradient img{
        width: 60px;
        height: auto;
    }
    .hero-section .indicator-text {
        top: 10px;
        right: 10px;
    }
    /* podcust */
    .about-podcust {
        padding: 50px 0 50px 0;
    }
    /* why choose */
    .why-choose {
        padding: 60px 0;
    }
    .why-choose .grid-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .col-2{
        grid-column: span 1;
    }
    .col-1{
        grid-column: span 1;
    }
    .row-1{
        grid-row: span 1;
    }
    .row-2{
        grid-row: span 1;
    }
    /* Listeners Section */
    .our-listeners .inner-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    /* Featured Episodes Section */
    .featured-episodes {
        padding: 60px 0;
    }
    .featured-episodes .episodes-grid {
        grid-template-columns: 1fr;
    }
    /* Meet Host Section */
    .host-image-wrapper {
    margin: auto;
}
    .host-content-wrapper {
        text-align: center;
    }
    .host-content-wrapper ul {
        justify-content: center;
    }
    .host-inner {
        grid-template-columns: 1fr;
    }
    /* Footer section */
    .footer {
        background-image: url('../images/mobile-footer-bg.png');
        padding: 60px 0;
    }
    .footer .footer-logo-wrapper img {
        max-width: 220px;
    }
    .footer-social-links ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
}
 /*==================
 Tablet Responsive Styles
 =================== */
@media (min-width: 577px) and (max-width: 991px) {
    /* global style */
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 22px;
    }
    .empty-space {
        padding: 40px 0;
    }
    /* Hero Section */
.hero-section {
    padding: 60px 0;
}
    .circle-gradient {
        width: 250px;
        height: 250px;
    }
    .circle-gradient img{
        width: 70px;
        height: auto;
    }
    .hero-section .indicator-text {
        top: 10px;
        right: 10px;
    }
    /* podcust */
    .about-podcust {
        padding: 50px 0 50px 0;
    }
    /* why choose */
    .why-choose {
        padding: 60px 0;
    }
    .why-choose .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .col-2{
        grid-column: span 1;
    }
    .col-1{
        grid-column: span 1;
    }
    .row-1{
        grid-row: span 1;
    }
    .row-2{
        grid-row: span 1;
    }
    /* Listeners Section */
    .our-listeners .inner-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }
    /* Featured Episodes Section */
    .featured-episodes {
        padding: 60px 0;
    }
    .featured-episodes .episodes-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Meet Host Section */
    .host-image-wrapper {
    margin: auto;
}
    /* Footer section */
    .footer {
        padding: 70px 0;
    }
    .footer .footer-logo-wrapper img {
        max-width: 220px;
    }
    .footer-social-links ul {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
}
