*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fbfbfb;
}
h1, h2, h3, h4, h5, h6 {
  color: #222222;
}
p {
  color: #627382;
}
.btn {
    display: inline-flex;
    cursor: pointer;
    border: 1px solid;
    padding: 12px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    letter-spacing: 0.5px;
}
.btn img {
    margin-bottom: -5px;
    width: 24px;
}
.btn-primary {
    background-color: #30B868;
    border-color: #30B868;
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn-secondary {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}
.btn-primary:hover,
.btn-secondary:hover {
    background-color: #F95555;
    border-color: #F95555;
}
.container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

/*================
    Header Styles 
 =================*/
header {
    padding: 16px 0;
}
header .inner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-wrapper img {
    width: 140px;
}
header .navigation-wrapper ul {
    display: flex;
    list-style-type: none;
    column-gap: 32px;
}

header .navigation-wrapper ul li a {
    text-decoration: none;
    color: #222222;
    font-weight: 500;
    font-size: 16px;
    font-family: inter, sans-serif;
    transition: all 0.3s ease;
}
header .navigation-wrapper ul li a:hover {
    border-bottom: 1px solid #222222;
}


/*==================
 Hero Section Styles
 =================== */
.hero-section {
    background-image: linear-gradient(rgba(0, 25, 49, 0.2)), 
    url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    align-items: center;
}

.hero-section .button-wrapper {
    display: flex;
    column-gap: 16px;
    justify-content: center;
    margin: auto;
    text-align: center;
}
